.header-1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.paragraph {
  color: #828282;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
