* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.App {
  padding: 1.6rem;

  @media only screen and (max-width: 62.5em) {
    // 1000px
    padding: 3.2rem;
  }
}
